
.barrelBeige{width: 16px; height: 50px; background: url(sheet_tanks.png) -842px -108px;}
.barrelBeige_outline{width: 24px; height: 58px; background: url(sheet_tanks.png) -840px -368px;}
.barrelBlack{width: 16px; height: 50px; background: url(sheet_tanks.png) -840px -426px;}
.barrelBlack_outline{width: 24px; height: 58px; background: url(sheet_tanks.png) -818px -168px;}
.barrelBlue{width: 16px; height: 50px; background: url(sheet_tanks.png) -850px -58px;}
.barrelBlue_outline{width: 24px; height: 58px; background: url(sheet_tanks.png) -827px -226px;}
.barrelGreen{width: 16px; height: 50px; background: url(sheet_tanks.png) -834px -58px;}
.barrelGreen_outline{width: 24px; height: 58px; background: url(sheet_tanks.png) -818px -110px;}
.barrelGreen_side{width: 44px; height: 62px; background: url(sheet_tanks.png) -746px -48px;}
.barrelGreen_side_damaged{width: 44px; height: 62px; background: url(sheet_tanks.png) -790px -48px;}
.barrelGreen_up{width: 48px; height: 48px; background: url(sheet_tanks.png) -746px -0px;}
.barrelGrey_sde_rust{width: 44px; height: 62px; background: url(sheet_tanks.png) -783px -244px;}
.barrelGrey_side{width: 44px; height: 62px; background: url(sheet_tanks.png) -796px -410px;}
.barrelGrey_up{width: 48px; height: 48px; background: url(sheet_tanks.png) -735px -252px;}
.barrelRed{width: 16px; height: 50px; background: url(sheet_tanks.png) -842px -158px;}
.barrelRed_outline{width: 24px; height: 58px; background: url(sheet_tanks.png) -834px -0px;}
.barrelRed_side{width: 44px; height: 62px; background: url(sheet_tanks.png) -805px -306px;}
.barrelRed_up{width: 48px; height: 48px; background: url(sheet_tanks.png) -730px -454px;}
.bulletBeige{width: 12px; height: 26px; background: url(sheet_tanks.png) -48px -481px;}
.bulletBeigeSilver{width: 12px; height: 26px; background: url(sheet_tanks.png) -188px -345px;}
.bulletBeigeSilver_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -671px -140px;}
.bulletBeige_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -128px -345px;}
.bulletBlue{width: 12px; height: 26px; background: url(sheet_tanks.png) -0px -481px;}
.bulletBlueSilver{width: 12px; height: 26px; background: url(sheet_tanks.png) -12px -481px;}
.bulletBlueSilver_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -148px -345px;}
.bulletBlue_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -755px -300px;}
.bulletGreen{width: 12px; height: 26px; background: url(sheet_tanks.png) -24px -481px;}
.bulletGreenSilver{width: 12px; height: 26px; background: url(sheet_tanks.png) -36px -481px;}
.bulletGreenSilver_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -691px -140px;}
.bulletGreen_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -168px -345px;}
.bulletRed{width: 12px; height: 26px; background: url(sheet_tanks.png) -120px -481px;}
.bulletRedSilver{width: 12px; height: 26px; background: url(sheet_tanks.png) -60px -481px;}
.bulletRedSilver_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -711px -140px;}
.bulletRed_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -735px -300px;}
.bulletSilver{width: 12px; height: 26px; background: url(sheet_tanks.png) -72px -481px;}
.bulletSilverSilver{width: 12px; height: 26px; background: url(sheet_tanks.png) -84px -481px;}
.bulletSilverSilver_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -778px -472px;}
.bulletSilver_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -775px -306px;}
.bulletYellow{width: 12px; height: 26px; background: url(sheet_tanks.png) -96px -481px;}
.bulletYellowSilver{width: 12px; height: 26px; background: url(sheet_tanks.png) -108px -481px;}
.bulletYellowSilver_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -794px -0px;}
.bulletYellow_outline{width: 20px; height: 34px; background: url(sheet_tanks.png) -814px -0px;}
.dirt{width: 128px; height: 128px; background: url(sheet_tanks.png) -0px -0px;}
.grass{width: 128px; height: 128px; background: url(sheet_tanks.png) -0px -128px;}
.oil{width: 96px; height: 96px; background: url(sheet_tanks.png) -200px -408px;}
.sand{width: 128px; height: 128px; background: url(sheet_tanks.png) -0px -256px;}
.sandbagBeige{width: 66px; height: 44px; background: url(sheet_tanks.png) -128px -301px;}
.sandbagBrown{width: 66px; height: 44px; background: url(sheet_tanks.png) -730px -410px;}
.smokeGrey0{width: 87px; height: 87px; background: url(sheet_tanks.png) -416px -188px;}
.smokeGrey1{width: 92px; height: 89px; background: url(sheet_tanks.png) -296px -408px;}
.smokeGrey2{width: 90px; height: 99px; background: url(sheet_tanks.png) -478px -384px;}
.smokeGrey3{width: 79px; height: 79px; background: url(sheet_tanks.png) -651px -353px;}
.smokeGrey4{width: 100px; height: 97px; background: url(sheet_tanks.png) -128px -97px;}
.smokeGrey5{width: 98px; height: 107px; background: url(sheet_tanks.png) -128px -194px;}
.smokeOrange0{width: 87px; height: 87px; background: url(sheet_tanks.png) -486px -275px;}
.smokeOrange1{width: 92px; height: 89px; background: url(sheet_tanks.png) -324px -196px;}
.smokeOrange2{width: 90px; height: 99px; background: url(sheet_tanks.png) -388px -408px;}
.smokeOrange3{width: 79px; height: 79px; background: url(sheet_tanks.png) -656px -261px;}
.smokeOrange4{width: 100px; height: 97px; background: url(sheet_tanks.png) -0px -384px;}
.smokeOrange5{width: 98px; height: 107px; background: url(sheet_tanks.png) -228px -0px;}
.smokeWhite0{width: 92px; height: 89px; background: url(sheet_tanks.png) -324px -107px;}
.smokeWhite1{width: 90px; height: 99px; background: url(sheet_tanks.png) -396px -285px;}
.smokeWhite2{width: 79px; height: 79px; background: url(sheet_tanks.png) -590px -182px;}
.smokeWhite3{width: 100px; height: 97px; background: url(sheet_tanks.png) -128px -0px;}
.smokeWhite4{width: 98px; height: 107px; background: url(sheet_tanks.png) -226px -194px;}
.smokeWhite5{width: 87px; height: 87px; background: url(sheet_tanks.png) -418px -0px;}
.smokeYellow0{width: 87px; height: 87px; background: url(sheet_tanks.png) -228px -107px;}
.smokeYellow1{width: 92px; height: 89px; background: url(sheet_tanks.png) -326px -0px;}
.smokeYellow2{width: 90px; height: 99px; background: url(sheet_tanks.png) -416px -89px;}
.smokeYellow3{width: 79px; height: 79px; background: url(sheet_tanks.png) -651px -432px;}
.smokeYellow4{width: 100px; height: 97px; background: url(sheet_tanks.png) -100px -384px;}
.smokeYellow5{width: 98px; height: 107px; background: url(sheet_tanks.png) -298px -301px;}
.tankBeige{width: 75px; height: 70px; background: url(sheet_tanks.png) -730px -340px;}
.tankBeige_outline{width: 83px; height: 78px; background: url(sheet_tanks.png) -505px -0px;}
.tankBlack{width: 75px; height: 70px; background: url(sheet_tanks.png) -671px -0px;}
.tankBlack_outline{width: 83px; height: 78px; background: url(sheet_tanks.png) -568px -362px;}
.tankBlue{width: 75px; height: 70px; background: url(sheet_tanks.png) -671px -70px;}
.tankBlue_outline{width: 83px; height: 78px; background: url(sheet_tanks.png) -506px -78px;}
.tankGreen{width: 75px; height: 70px; background: url(sheet_tanks.png) -669px -182px;}
.tankGreen_outline{width: 83px; height: 78px; background: url(sheet_tanks.png) -573px -275px;}
.tankRed{width: 75px; height: 70px; background: url(sheet_tanks.png) -568px -440px;}
.tankRed_outline{width: 83px; height: 78px; background: url(sheet_tanks.png) -588px -0px;}
.tracksLarge{width: 82px; height: 104px; background: url(sheet_tanks.png) -589px -78px;}
.tracksSmall{width: 74px; height: 104px; background: url(sheet_tanks.png) -744px -140px;}
.treeLarge{width: 98px; height: 107px; background: url(sheet_tanks.png) -200px -301px;}
.treeSmall{width: 87px; height: 87px; background: url(sheet_tanks.png) -503px -188px;}